server:
  port: 8081

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/EmployeeManagementDB
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  application:
    name: CRUD-SERVICE
#  sql:
#    init:
#      mode: always

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true

